{{#extend "layout/main"}}

{{#content "body"}}
<section class="hero">
  <div class="hero__price">
    From $199/Person
  </div>
  <h2 class="hero__title">Discover Greece</h2>
  <p class="hero__tagline">Travel with unique experience</p>
</section>

<section class="services">
  <aside class="services__sidebar">
    {{> partials/section-header subtitle="Discover" title="Our Hot Services" }}

    <p class="services__tagline">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard
    </p>
  </aside>

  <div class="services__content">
    {{#each services}}
    <div class="card">
      <img class="card__img" src="{{this.img}}" alt="">
      <div class="card__body">
        <h3 class="card__title">{{this.title}}</h3>
        <p class="card__description">{{description}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</section>

<section class="video-tour">
  {{> partials/section-header subtitle="Discover" title="Watch Our Video Tour"}}

  {{!-- <video class="video-tour__player" src=""></video> --}}
</section>

<section class="stats">
  {{#each stats}}
  <div class="stats-item">
    <img class="stats-item__icon" src="{{this.icon}}" alt="">
    <p class="stats-item__total">{{this.total}}</p>
    <p class="stats-item__title">{{this.title}}</p>
  </div>
  {{/each}}
</section>

<section class="tours">
  {{> partials/section-header subtitle="We offer" title="Popular Tour Package"}}

  {{#each tours}}
  <div class="card-tour">
    <div class="card-tour__img">
      <div class="card-tour__type">{{this.type}}</div>
      <a href="#">
        <img src="{{this.img}}" alt="">
      </a>
    </div>
    <div class="card-tour__body">
      <p class="card-tour__price">{{this.price}}</p>
      <a class="card-tour__link" href="#">
        <h3 class="card-tour__title">{{this.title}}</h3>
      </a>
      <p class="card-tour__residence">{{this.residence}}</p>
    </div>
  </div>
  {{/each}}
</section>

<section class="subscription">
  <h2 class="subscription__title">Get 10% Off on Your Next Travel</h2>
  <p class="subscription__tagline">Maximum doscout 1000$ per person</p>

  <form class="subscription__form" action="">
    <input class="input" type="text" placeholder="Enter your email">
    <button class="button">Subscribe</button>
  </form>
</section>

<section class="reviews">
  {{> partials/section-header subtitle="Our smiles" title="Happy Travelers"}}

  <div class="reviews__items">
    {{#each reviews}}
    <div class="review">
      <header class="review__header">
        <img class="review__avatar" src="{{this.avatar}}" alt="">
        <a class="review__link" href="#">
          <h3 class="review__author">{{this.author}}</h3>
        </a>
      </header>

      <p class="review__text">{{this.text}}</p>
    </div>
    {{/each}}
  </div>
</section>

<section class="booking">
  <h2 class="booking__title">Ready to plan your trip?</h2>
  <button class="button button__filled">Book now</button>
</section>

<section class="countries">
  {{> partials/section-header subtitle="Destination" title="Popular Tourism Countries"}}

  <div class="countries__items">
    {{#each countries}}
    <div class="card-country">
      <img class="card-country__img" src="{{this.img}}" alt="">
      <div class="card-country__body">
        <div>
          <h3 class="card-country__title">{{this.title}}</h3>
          <p class="card-country__price">{{this.price}}</p>
        </div>
        <a class="card-country__button" href="#"></a>
      </div>
    </div>
    {{/each}}
  </div>
</section>

<section class="map">
</section>
{{/content}}

{{/extend}}